
#pagination img{

    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.overflow-ellipsis {
 /* overflow:hidden;
  white-space:nowrap; */ 
  text-overflow: ellipsis;
}


.myText {

   width: 10em;
  /*outline: 1px solid #000;*/
   margin: 0 0 2em 0;
  
  /**
   * Required properties to achieve text-overflow
   */
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    color: #78aeff;
    text-decoration: underline;
}

.headAdmin .logoAdm {
    height: 75px;
    width: auto;
    float: left;
    margin: 10px;
}

.headAdmin {
    width: 90%;
    margin: auto;
    position: relative;
    height: 95px;
    background-color: #FFF;
}

.headAdmin { width: 90%; margin: auto; position: relative; height: 95px; background-color: #FFF;}
.headAdmin .logoAdm {  height: 75px; width: auto; float: left; margin: 10px;}
.headAdmin p { float: right; font-size: 14px; padding: 13px 20px; border: 1px solid #CCC; margin-top: 20px; color: #444; margin-left: 12px;
-moz-transition:all 0.25s ease 0s;
    -o-transition:all 0.25s ease 0s;
    -ms-transition:all 0.25s ease 0s;
    -webkit-transition:all 0.25s ease 0s;}
/*.headAdmin p:hover { background-color: #333; color: #FFF;}
.headAdmin p.descarga { background-color: #EEE;}*/
.headAdmin p.descarga:hover { background-color: #FFF; color: #8E898B;}

.cont-general .in .cont-formulario { width: 440px; display: inline-block;  z-index: 10; vertical-align: middle}
.cont-general .in .cont-formulario .titular {color: #FFF; font-size: 22px;  font-family: 'citroenregular'; margin-bottom: 15px; text-align: center}

.cont-general .in .cont-formulario form { width: 380px; margin: auto}

.cont-general .form-container{
    display: inline-block;
    z-index: 10;
    vertical-align: middle;
    text-align: left;
}
